<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/headHome.ejs') %>
        <title>Blogs - UCAB SPORT</title>
</head>
<body>
    <% blogs.forEach((blog)=> { %>

        <%= blog.blog_id %>

        <% }) %>
        asdas

        
</body>

</html>