<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <title>Crear Jornada</title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <section class="home-section">
        <div class="home-content">
          <i class='bx bx-menu' ></i>
          >>> Crear Jornada
        </div>
    <div class="container mt-4">
        <div class="card border-secondary">
            <div class="card-header">Nueva Jornada</div>
            <div class="card-body">
                <form action="/saveJornada" method="POST">
                    <div class="mb-3">
                        <label for="fecha" class="form-label">Fecha de la jornada</label>
                        <input type="datetime-local"  required class="form-control" id="fecha" name="fecha" tabindex="1">
                    </div>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="/jornadas" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    </section>
    <section class="home-section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 mx-auto">
              <div id="mensajes">
                <p id="mensaje"></p>
                <img class="rounded" src="images/medioAmbiente.png" width="330" height="230">
              </div>
            </div>
          </div>
        </div>
      </section>
 
    <%- include('partials/scripts.ejs') %>
</body>
</html>