<footer class="bg-success text-center text-lg-start mt-5">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <img class="img-fluid" src="images/logo.png" width="70" height="20px" />
          <h5 class="text-uppercase text-white">UCAB SPORT</h5>
          <p class="text-black" style="color:black;">Colaboradores:</p>
          <ul class="list-unstyled mb-0">
            <li><a class="colablinks text-white" target="_blank" href="https://github.com/wilterd/">Wilter Díaz</a></li>
            <li><a class="text-white colablinks" target="_blank" href="#">Gustavo Gutiérrez</a></li>
            <li><a class="text-white colablinks" target="_blank" href="#">Héctor Ferrer</a></li>
            <li><a class="text-white colablinks" target="_blank" href="#">Eduardo Arzolay</a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase" style="color:black;">Redes sociales</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a target="_blank" href="https://www.instagram.com/deportesucabg/" class="text-white colablinks">@deportesucabg</a> <i class='bx bxl-instagram text-white fs-4 mx-auto'></i>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3 bg-warning">
      © 2023 UCAB SPORT: Todos los derechos reservados
    </div>
  </footer>