<section class="motivacion">
    <div class="motivacion-container">
      <h2>¡Haz deporte!</h2>
      <img src="images/sectionMotivation.webp" alt="Persona haciendo deporte" class="img-fluid">
      <p>Practicar deporte es esencial para mantener una buena salud física y mental. Además, te permite superar tus límites y alcanzar tus metas. En esta plataforma, te ofrecemos toda la información que necesitas para seguir de cerca a tus equipos favoritos y estar al día de las últimas noticias deportivas.</p>
    </div>
  </section>