<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="images/sliders/1.webp" alt="Slide 1"></div>
      <div class="swiper-slide"><img data-src="images/sliders/2.webp" alt="Slide 2" class="lazy"></div>
      <div class="swiper-slide"><img data-src="images/sliders/3.webp" alt="Slide 3" class="lazy"></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>